@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
<<<<<<< HEAD
	background-color: #18181B;
=======
	background-color: #C3EDB8;
>>>>>>> ddc37d6 (bash fixed)

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--background-color);
}
